body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #121212;
  color: white;
}

.app-container {
  text-align: center;
}

.app-header {
  background-color: #121212; /* Same as background color */
  padding: 20px;
}

.app-header h1 {
  font-size: 1.6rem; /* Make the word "Projects" bigger */
  color: #a7a7a8;
  display: flex;
  justify-content: left;
  margin-bottom: 1.5%;
}

.app-main {
  padding: 20px;
}

.toolbar {
  display: flex;
  justify-content: flex-start; /* Align to the left */
  gap: 10px;
  margin-bottom: 20px;
}

.new-project-button,
.new-organization-button,
.new-project-button-main {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 10px; /* Small border radius */
}

.new-project-button-main {
  margin-top: 20px;
}


.hr{
  border: 1px dashed #e1e0e1 ;
}

.search-input {
  padding: 10px;
  width: 200px;
  border-radius: 10px;
}

.project-list {
  background-color: #1e1e1e;
  padding: 20px;
  border-radius: 5px;
  text-align: left; /* Align text to the left */
}

.project-title {
  font-weight: bold; /* Make "Fuzionest" bold */
  font-size: 2rem;
  display: flex;
  justify-content: left;
}

.no-projects {
  margin-top: 20px;
  
  display: flex;
  flex-direction: column;
  align-items: center; /* Center elements */
}

.no-projects h4 {
  font-size: 1.6rem;
}

.no-projects p {
  margin: 10px 0; /* Add some margin to separate the paragraph from the heading and button */
  text-align: center; /* Center the paragraph text */
}

.new-project-button-main {
  align-self: center; /* Center the button */
}

.project-card {
  background-color: #1e1e1e;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  text-align: left;
}

.project-card h3 {
  margin: 0;
  font-size: 1.2rem;
  font-weight: bold;
}

.project-card p {
  margin: 5px 0;
}