body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #121212;
  color: white;
}

.app-container {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 250px;
  background-color: #1e1e1e;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidebar-header h2 {
  color: white;
}

.sidebar-section h3 {
  font-size: 1.2rem;
  margin-top: 20px;
  margin-bottom: 10px;
}

.sidebar-section ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar-section li {
  margin-bottom: 10px;
  cursor: pointer;
}

.sidebar-section li:hover {
  text-decoration: underline;
}

.sidebar-footer {
  margin-top: 20px;
}

.logout-button {
  background-color: #e74c3c;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 10px;
}

.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.app-header {
  background-color: #121212;
  padding: 20px;
}

.app-header h1 {
  font-size: 1.6rem;
  color: #a7a7a8;
  display: flex;
  justify-content: left;
  margin-bottom: 1.5%;
}

.app-main {
  padding: 20px;
}

.toolbar {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  margin-bottom: 20px;
}

.new-project-button,
.new-project-button-main {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 10px;
}

.new-project-button-main {
  margin-top: 20px;
}

.search-input {
  padding: 10px;
  width: 200px;
  border-radius: 10px;
}

.project-list {
  background-color: #1e1e1e;
  padding: 20px;
  border-radius: 5px;
  text-align: left;
  box-sizing: border-box;
  border: 1px dashed #e1e0e1 ;
}

.project-title {
  font-weight: bold;
  font-size: 2rem;
  display: flex;
  justify-content: left;
}

.no-projects {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.no-projects h4 {
  font-size: 1.6rem;
}

.no-projects p {
  margin: 10px 0;
  text-align: center;
}

.new-project-button-main {
  align-self: center;
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 15px;
}

.project-card {
  background-color: #2e2e2e;
  padding: 15px;
  border-radius: 5px;
  text-align: left;
}

.project-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.project-header h2 {
  font-size: 1.2rem;
  margin: 0;
}

.project-header .menu-container {
  position: relative;
}

.project-header .menu-button {
  background: none;
  border: none;
  font-size: 1.5rem;
  color: white;
  cursor: pointer;
}

.project-header .dropdown-menu {
  display: none;
  position: absolute;
  right: 0;
  top: 100%;
  background-color: #333;
  border: 1px solid #444;
  border-radius: 5px;
  overflow: hidden;
  z-index: 10;
}

.project-header .menu-container:hover .dropdown-menu {
  display: block;
}

.project-header .dropdown-menu button {
  background: none;
  border: none;
  color: white;
  padding: 10px;
  cursor: pointer;
  width: 100%;
  text-align: left;
}

.project-header .dropdown-menu button:hover {
  background-color: #444;
}

.project-details {
  margin-top: 15px;
}

.project-details h4 {
  margin: 5px 0;
}

.project-details p {
  margin: 0;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.page-button {
  background-color: #333;
  color: white;
  border: none;
  padding: 10px;
  margin: 0 5px;
  cursor: pointer;
  border-radius: 5px;
}

.page-button.active {
  background-color: #28a745;
}

.page-button:hover {
  background-color: #444;
}
