body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #121212;
  color: white;
}

.app-container {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 250px;
  background-color: #1e1e1e;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidebar-header h2 {
  color: white;
}

.sidebar-section h3 {
  font-size: 1.2rem;
  margin-top: 20px;
  margin-bottom: 10px;
}

.sidebar-section ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar-section li {
  margin-bottom: 10px;
  cursor: pointer;
}

.sidebar-section li:hover {
  text-decoration: underline;
}

.sidebar-footer {
  margin-top: 20px;
}

.logout-button {
  background-color: #e74c3c;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 10px;
}

.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.app-header {
  background-color: #121212;
  padding: 20px;
}

.app-header h1 {
  font-size: 1.6rem;
  color: #a7a7a8;
  display: flex;
  justify-content: left;
  margin-bottom: 1.5%;
}

.app-main {
  padding: 20px;
}

.toolbar {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  margin-bottom: 20px;
}

.new-project-button,
.new-project-button-main {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 10px;
}

.new-project-button-main {
  margin-top: 20px;
}

.dashed-line {
  border: 1px dashed #e1e0e1;
}

.search-input {
  padding: 10px;
  width: 200px;
  border-radius: 10px;
}

.project-list {
  background-color: #1e1e1e;
  padding: 20px;
  border-radius: 5px;
  text-align: left;
}

.project-title {
  font-weight: bold;
  font-size: 2rem;
  display: flex;
  justify-content: left;
}

.no-projects {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.no-projects h4 {
  font-size: 1.6rem;
}

.no-projects p {
  margin: 10px 0;
  text-align: center;
}

.new-project-button-main {
  align-self: center;
}

.project-card {
  background-color: #2e2e2e;
  padding: 15px;
  border-radius: 5px;
  margin-bottom: 15px;
  text-align: left;
}

.project-card h3 {
  margin: 0;
  font-size: 1.2rem;
  font-weight: bold;
}

.project-card p {
  margin: 5px 0;
}
