.separator-container {
    display: flex;
    align-items: center;
  }
  
  .separator-card {
    background-color: #444; /* Slightly lighter background for better contrast */
    color: #fff;
    padding: 1rem;
    border-radius: 8px;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    gap: 50%;
    cursor: pointer; /* Add cursor pointer to indicate clickable cards */
    transition: background-color 0.3s;
    margin-bottom: 1rem; /* Add space between cards */
  }
  
  .separator-card p {
    margin: 0;
    text-align: justify;
  }
  
  .separator-card:hover {
    background-color: #555; /* Slightly darker on hover */
  }
  
  .selected-card {
    background-color: #666; /* Different background for selected card */
    border: 2px solid #fff; /* Add border to indicate selection */
  }
  
  .separator-vertical {
    display: none; /* Hide the vertical separators */
  }
  
  span{
    font-size: large;
    font-weight: 400;
    font-display: bold;
  }