/* General Styles */
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    background-color: #121212;
}

.flex {
    display: flex;
}

.items-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.min-h-screen {
    min-height: 100vh;
}

.bg-black {
    background-color: #121212;
}

.w-full {
    width: 100%;
}

.max-w-md {
    max-width: 32rem;
}

.p-6 {
    padding: 1.5rem;
}

.bg-gray-800 {
    background-color: #1F1F1F;
}

.rounded-lg {
    border-radius: 0.5rem;
}

.shadow-md {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.space-y-4 > :not([hidden]) ~ :not([hidden]) {
    margin-top: 1rem;
}

.text-white {
    color: #fff;
}

button {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
}

button.bg-red-500 {
    background-color: #2d2d2d;
    color: #e8e8e8;
    border-radius: 0.75rem;
}

button.bg-green-600 {
    background-color: #16a34a;
    color: white;
    border-radius: 0.75rem;
}

button:hover {
    opacity: 0.8;
}

button:active {
    opacity: 0.6;
}

.form-container {
    background-color: #1F1F1F;
    padding: 2rem;
    border-radius: 0.5rem;
    border: 1px solid #2D2D2D;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    font-size: 1rem;
    height: 85vh;
    max-width: 50%;
}

.form-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 1rem;
    width: 100%; /* Ensure form-item takes full width */
}

.form-item label {
    margin-bottom: 0.5rem;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1rem;
    display: block; /* Ensure the label is block element */
    width: 100%;
}

.form-item input {
    width: 100%;
    padding: 0.5rem;
    border-radius: 0.25rem;
    background-color: #333333;
    color: #FFFFFF;
    border: 1px solid #444444;
}

.form-description {
    margin-top: 0.5rem;
    color: #BBBBBB;
    width: 100%;
}

.button-container {
    display: flex;
    justify-content: space-between;
}

.separator-demo {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 1rem;
}

h4 {
    font-size: 1.25rem;
    font-weight: bold;
    color: #FFFFFF;
}

@media (min-width: 640px) {
    .form-item {
        flex-direction: column; /* Ensure the form item flex direction is column */
        align-items: flex-start;
    }

    .form-item label {
        width: auto;
        margin-right: 1rem;
        margin-bottom: 0.5rem; /* Adjusted margin */
    }

    .form-item input {
        width: 100%;
    }

    .form-description {
        margin-top: 0.5rem;
        text-align: left;
        color: #bbbbbb;
        width: 100%;
    }
}

/* Flexbox to align buttons */
.button-container {
    display: flex;
    justify-content: space-between;
}

/* Style for SeparatorDemo */
.separator-demo {
    display: flex;
    flex-direction: column; 
    align-items: stretch; 
    gap: 1rem;
}

h4 {
    font-size: 1.5rem; /* Increased font size */
    font-weight: bold; /* Made text bolder */
}
.badge {
    display: inline-block;
    padding: 0.1rem 0.10rem;
    border-radius: 3rem; /* Make it oval-shaped */
    background-color: #efeff5;
    color: #30303e;
    font-size: 0.875rem;
    margin-top: 0.5rem;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
  }
  